body {
	background-color: #f9f9f9;
}

.App {
	font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	padding: 20px;
	height: 100%;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.cards {
	max-width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
